{{  if hero_activated }}
<div id="hero" class="flex flex-col items-center justify-center w-full relative
{{ background_colour }} {{ dark_background_colour }} {{ text_colour }} {{ dark_text_colour }} {{ hero_size }}
">
{{ if image_or_colour == 'image' }}

    <img src="{{ glide:image preset="hero" }}" alt="{{ image.alt }}"
                                               class="absolute z-1 w-full {{ hero_size }}">

    {{ /if }}
    {{ if display_which == 'heading' }}
            <h1 id="heroText" class="text-5xl z-10">
                {{ heading | widont }}
            </h1>
        {{  if sub_heading }}
                <p class="text-3xl z-10">{{ sub_heading | widont}}</p>
            {{ /if }}
        {{ else }}
            <p class="text-4xl z-10">
                {{ introduction | widont }}
            </p>
        {{  /if }}
</div>
{{ /if }}
