<div class=" my-section lg:my-section-lg">
    <div class="main-carousel  w-[400px] md:w-[800px] h-[300px] md:h-[600px] mx-auto" data-flickity='{ "cellAlign": "left", "contain": true, "fullscreen": true, "lazyLoad": 1 }'>
                    {{  slider_images }}
        <div class="carousel-cell">
                    <img src="{{ glide:url preset="slider_image" }}" alt="{{ alt }}" class="w-[400px] md:w-[800px] h-[300px] md:h-[600px]">
        </div>
                {{  /slider_images }}
    </div>
</div>

